<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="online_food_cartConnectionString" connectionString="Data Source=DESKTOP-1S4EG4M;Initial Catalog=online_food_cart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="online_food_cartConnectionString2" connectionString="Data Source=DESKTOP-1S4EG4M;Initial Catalog=online_food_cart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
      <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

        <add key="procon" value="Server=DESKTOP-1S4EG4M; Integrated Security=True; Initial catalog=online_food_cart"/>
    </appSettings>

</configuration>
